{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <div class="container">
        {% if query %}
            <table class = "table table-hover">
   <caption>Roumers Disease</caption>
   
   <thead>
      <tr>
         <th>Name</th>
         <th>City</th>
         <th>Status</th>
      </tr>
   </thead>
   
   <tbody>
      {% for q in query %}
      
      <tr>
         <td>{{q.name}}</td>
         <td>{{q.affected_city}}</td>
         <td>
             {% if q.status == 'Confirmed' %}
               <a style="color: red;" href="/rumour/{{q.id}}"> {{q.status}}</a>
                    {% if q.precaution %}
                    <span class="pull-right"style="color:blue;"> Notified!</span>
                    {% endif %}
                {% elif q.status == 'Pending' %}
               <a style="color: blue;" href="/rumour/{{q.id}}"> {{q.status}}</a>
                {% else %}
               <a style="color: green;" href="/rumour/{{q.id}}"> {{q.status}}</a>
                {% endif %}

        
         </td>
      </tr>

      {% endfor %}
   </tbody>
   
</table>
 {% else %}
  There is currently no rumour.
  <!--<a class="btn btn-primary" href="/add" > Add a Query </a>-->
 {% endif %}
        </div>

{% endblock %}